@import url("font-awesome.min.css");
body {background-color: #000000;}
li {list-style: none;}
.player {width:340px;margin:0 auto;height: 500px;vertical-align: middle;}
#artist {width:126px; height: 126px; margin:0 auto;float:left;  background-image: url('../img/artist.png');}
.song {color:#fff; font-size:13px; width:322px; margin:0 auto; text-align: center;font-family: "Helvetica Neue", Arial, sans-serif; height:14px;}
.clear {clear:both;}
.streams {display:block; float:left; margin:37px 0 0 12px;padding:0;}
.stream {display:block; width:67px;float:left;}
.stream a {display: block; float: left; text-decoration: none; color:#ffffff;width:60px;  background-color: #00c4ff; text-align: center;}
.jp-play, .jp-pause {display: block; width:90px; height:90px; background-color: #00c4ff; border-radius: 50px; text-decoration: none; margin: 0 auto;}
.play-control {float: left;width: 100px;  margin-top: 4px;padding: 0;margin-top: 30px;}
.fa-play {display: block;vertical-align: middle; padding:26px 0 0 33px;}
.fa-pause {display: block;vertical-align: middle; padding:26px 0 0 28px;}
.fa-play:before { font: normal normal normal 14px/1 FontAwesome; content: "\f04b";   color: #222222; font-size: 41px;}
.fa-pause:before { font: normal normal normal 14px/1 FontAwesome; content: "\f04c";   color: #222222; font-size: 41px;}
.jp-gui {float: left;  margin-top: 27px;padding:0;margin-left: 15px;height:30px;}
.controls {padding:0;}
.jp-volume-slider {width:190px;height: 8px; margin:0 auto; margin-bottom:12px; display: block !important;}
.jp-volume-slider .ui-slider-handle {height:.8em;width:.8em;cursor:pointer;}
.jp-gui.jp-no-volume .jp-volume-slider {display:none;}
.controls>.ui-widget-content {  background-color:#333; height:8px;border-radius: 10px;}
.controls>.ui-widget-content>.ui-widget-header { background-color:#00c4ff; height:8px;top:0px;cursor:pointer;border-radius: 10px;}
.logo {background-image: url('../img/uafm-logo.png'); width:221px; height:87px ;float:left;margin-left: 19px;margin-top: 30px;}
.adv {width:320px;margin: 0 auto;margin-top: 20px;}